/*
Основной цвет текста: #212121
Вторичный цвет текста: #757575
Основной акцент: #2196F3
Белый текст и основной фон: #FFFFFF
Цвет текста футера: rgba(255, 255, 255, 0.6);
Вторичный цвет фона: #2F303A
*/

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --main-accent: #2196f3;
  --pure-white-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #2f303a;
}

.logo {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  inline-size: 1.2;
}
.accent {
  color: var(--main-accent);
}

.site-nav .link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--main-accent);
}

.site-nav .current {
  color: var(--main-accent);
}
.list {
  list-style: none;
}
.header-contacts {
  list-style: none;
}

.header-contacts .item {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: var(--secondary-text-color);
}

.header-contacts .item:hover,
.header-contacts .item:focus {
  color: var(--main-accent);
  text-decoration: underline;
}

.footer {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: var(--secondary-bg-color);
}
.footer-logo {
  text-decoration: none;
  color: var(--pure-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  inline-size: 1.2;
}
.address {
  font-weight: 400;
  font-style: normal;
  color: var(--pure-white-color);
  letter-spacing: 0.03em;
}

.address-item {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  color: var(--footer-text-color);
}

.address-item:hover,
.address-item:focus {
  color: var(--main-accent);
  text-decoration: underline;
}
